/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    min-height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Functions [`FUNC]
   ========================================================================== */

@function em($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

/* ==========================================================================
   Variables [`VAR]
   ========================================================================== */
$theme-orange: #FF3D00;
$theme-facebook: #6081C4;
$theme-twitter: #43BDF0;
$theme-instagram: #804222;

$lato-heavy: 'LatoWebHeavy', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$lato-thin: 'LatoWebThin', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$lato-regular: 'LatoWeb', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

/* ==========================================================================
   Mixins [`MIXN]
   ========================================================================== */
@mixin inset-shadow-jutsu ($x, $y, $blur, $color) {
    -webkit-box-shadow: inset $x $y $blur $color;
    -moz-box-shadow: inset $x $y $blur $color;
    box-shadow: inset $x $y $blur $color;
}

@mixin box-shadow-jutsu ($x, $y, $blur, $color) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}

@mixin transition-jutsu ($attr, $duration, $mode) {
    -webkit-transition: $attr $duration $mode;
    -moz-transition: $attr $duration $mode;
    transition: $attr $duration $mode;
}

@mixin placeholder-jutsu ($font, $color) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: $font;
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: $font;
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: $font;
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: $font;
    color: $color;
  }
}

/* ==========================================================================
   Typography [`TYPO]
   ========================================================================== */

/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('../fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('../fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ytspvo');
  src:  url('../fonts/icomoon.eot?ytspvo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ytspvo') format('truetype'),
    url('../fonts/icomoon.woff?ytspvo') format('woff'),
    url('../fonts/icomoon.svg?ytspvo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e93e";
  color: #f00;
}
.icon-gmail:before {
  content: "\e927";
  color: #d14836;
}
.icon-googleplus:before {
  content: "\e91b";
  color: #dc4e41;
}
.icon-whatsapp:before {
  content: "\e91a";
  color: #25d366;
}
.icon-medium:before {
  content: "\e915";
}
.icon-reddit:before {
  content: "\e916";
  color: #ff4500;
}
.icon-instagram:before {
  content: "\e917";
  color: #e4405f;
}
.icon-facebook:before {
  content: "\e918";
  color: #3b5998;
}
.icon-twitter:before {
  content: "\e919";
  color: #1da1f2;
}
.icon-directions_boat:before {
  content: "\e532";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-format_align_center:before {
  content: "\e234";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-format_align_right:before {
  content: "\e237";
}
.icon-question_answer:before {
  content: "\e8af";
}
.icon-forward:before {
  content: "\e154";
}
.icon-local_bar:before {
  content: "\e540";
}
.icon-restaurant_menu2:before {
  content: "\e561";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-pan_tool:before {
  content: "\e93f";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-reply:before {
  content: "\e15e";
}
.icon-reply_all:before {
  content: "\e15f";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\e940";
}
.icon-settings:before {
  content: "\e928";
}
.icon-music_note:before {
  content: "\e929";
}
.icon-thumb_up:before {
  content: "\e92a";
}
.icon-star_half:before {
  content: "\e92b";
}
.icon-star_border:before {
  content: "\e92c";
}
.icon-favorite_border:before {
  content: "\e92d";
}
.icon-star:before {
  content: "\e92e";
}
.icon-favorite:before {
  content: "\e92f";
}
.icon-send:before {
  content: "\e930";
}
.icon-person_add:before {
  content: "\e931";
}
.icon-add:before {
  content: "\e932";
}
.icon-more_vert:before {
  content: "\e933";
}
.icon-more:before {
  content: "\e934";
}
.icon-keyboard_arrow_up:before {
  content: "\e935";
}
.icon-keyboard_arrow_right:before {
  content: "\e936";
}
.icon-keyboard_arrow_left:before {
  content: "\e937";
}
.icon-keyboard_arrow_down:before {
  content: "\e938";
}
.icon-keyboard:before {
  content: "\e939";
}
.icon-mode_edit:before {
  content: "\e93a";
}
.icon-attach_money:before {
  content: "\e93b";
}
.icon-delete:before {
  content: "\e93c";
}
.icon-save:before {
  content: "\e93d";
}
.icon-border_horizontal:before {
  content: "\e926";
}
.icon-restaurant_menu:before {
  content: "\e91c";
}
.icon-menu:before {
  content: "\e91d";
}
.icon-mode_comment:before {
  content: "\e91e";
}
.icon-keyboard_backspace:before {
  content: "\e91f";
}
.icon-insert_comment:before {
  content: "\e920";
}
.icon-arrow_back:before {
  content: "\e921";
}
.icon-comment:before {
  content: "\e922";
}
.icon-chat:before {
  content: "\e923";
}
.icon-backspace:before {
  content: "\e924";
}
.icon-notifications:before {
  content: "\e925";
}
.icon-add_location:before {
  content: "\e900";
}
.icon-flag:before {
  content: "\e901";
}
.icon-directions_run:before {
  content: "\e902";
}
.icon-directions_bike:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e904";
}
.icon-notifications_active:before {
  content: "\e905";
}
.icon-local_hotel:before {
  content: "\e906";
}
.icon-tram:before {
  content: "\e907";
}
.icon-local_taxi:before {
  content: "\e908";
}
.icon-train:before {
  content: "\e909";
}
.icon-flight_takeoff:before {
  content: "\e90a";
}
.icon-flight_land:before {
  content: "\e90b";
}
.icon-pie_chart:before {
  content: "\e90c";
}
.icon-check_box_outline_blank:before {
  content: "\e90d";
}
.icon-check_box:before {
  content: "\e90e";
}
.icon-date_range:before {
  content: "\e90f";
}
.icon-format_list_numbered:before {
  content: "\e910";
}
.icon-format_list_bulleted:before {
  content: "\e911";
}
.icon-ondemand_video:before {
  content: "\e912";
}
.icon-photo_size_select_actual:before {
  content: "\e913";
}
.icon-text_fields:before {
  content: "\e914";
}
.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* ==========================================================================
   General [`GEN]
   ========================================================================== */
// .login {
//   height: 100%;
// }

// .login-form {
//   @include box-shadow-jutsu (0, 1px, 4px, rgba(0, 0, 0, 0.2));
//   background: #e2e2e2;
//   border-radius: 4px;
//   margin: 80% 0;
//   padding: 40px;
//   height: 409px;

//   .loader .image-container {
//     border-radius: 2px;
//     overflow: hidden;
//   }

//   .errormsg {
//     color: #bb1010;
//   }

//   .fields {
//     padding: 50px 0;
//   }

//   input[type="password"],
//   input[type="email"],
//   input[type="text"] {
//     text-indent: 20px;
//     color: #5d5d5d;
//     height: 34px;
//     width: 100%;
//   }

//   label {
//     text-transform: uppercase;
//     color: #7b7b7b;

//     &.checkbox {
//       margin-top: 10px;
//     }
//   }

//   h2 {
//     font-family: $lato-heavy;
//     font-size: em(26px, 18px);
//     text-transform: uppercase;
//     text-align: center;
//     color: #7b7b7b;
//   }
// }

// .dashboard {
//   border-top: 4px solid #5a5a5a;

//   header {
//     border-bottom: 1px solid #e4e4e4;
//     padding: 30px 0 20px;

//     button {
//       margin-top: -8px;
//       float: right;
//     }

//     ul.navigation {
//       margin: 2px 0 0 0;
//       float: right;
//       padding: 0;

//       li {
//         list-style-type: none;
//         display: inline-block;
//         margin-left: 30px;
//       }
//     }

//     h1 {
//       font-family: $lato-heavy;
//       font-size: em(30px, 18px);
//       margin: 0;

//       a {
//         text-decoration: none;
//         color: #5a5a5a;
//       }
//     }
//   }

//   .sub-nav {
//     margin: 30px 0 20px;

//     ul.creation-list {
//       margin: 0 0 0 0;
//       float: right;
//       padding: 0;

//       li {
//         list-style-type: none;
//         display: inline-block;
//         margin-left: 10px;

//         a {
//           text-transform: uppercase;
//           text-decoration: none;
//           background: #55acf9;
//           padding: 10px 14px;
//           border-radius: 2px;
//           color: #FFFFFF;

//           span.icon {
//             margin-right: 4px;
//             font-size: 20px;
//           }

//           &.active {
//             background: #a2a2a2;
//           }
//         }
//       }
//     }

//     h2 {
//       text-transform: uppercase;
//       font-size: em(28px, 18px);
//       color: #9e9e9e;
//     }
//   }

//   .properties-wrapper {
//     .properties-table {
//       @include box-shadow-jutsu (0, 1px, 4px, rgba(0, 0, 0, 0.4));
//       border-radius: 4px;
//       margin-top: 80px;
//       padding: 40px;
//     }

//     .dataTables_wrapper .dataTables_filter input { border: 1px solid #b7b7b7; }

//     table.dataTable {
//       font-family: $lato-regular;
//       padding-top: 30px;

//       &.no-footer {
//         border-color: #c5c5c5;
//         margin-bottom: 20px;
//       }

//       thead {
//         th {
//           text-transform: uppercase;
//           border-bottom: none;

//           &:nth-child(1) {
//             width: 50px;
//           }
//         }
//       }

//       tbody {
//         tr {
//           font-size: em(16px, 18px);
//           text-transform: uppercase;
//           cursor: pointer;
//           height: 50px;

//           &.odd { background-color: #d7ecff; }
//         }

//         td {
//           padding: 10px 18px;

//           &:nth-child(7) {
//             text-align: right;
//           }
//         }
//       }
//     }

//     .property-insert,
//     .user-insert {
//       margin-top: 80px;

//       button.load-owners,
//       button.load-agents {
//         font-size: em(16px, 18px);
//         background: none;
//         color: #007bff;
//         outline: none;
//         border: none;
//         float: right;

//         &:hover {
//           cursor: pointer;
//         }
//       }

//       input[type="password"],
//       input[type="email"],
//       input[type="text"] {
//         margin-bottom: 10px;
//         text-indent: 10px;
//         height: 34px;
//         width: 100%;
//       }

//       textarea {
//         height: 100px;
//         resize: none;
//         width: 100%;
//       }

//       select {
//         text-indent: 10px;
//         height: 34px;
//         width: 100%;
//       }

//       h3 {
//         font-family: $lato-regular;
//         text-transform: uppercase;
//         font-size: em(20px, 18px);
//         margin-bottom: 20px;
//       }
//     }

//     .owner {
//       .loader-gif {
//         margin-top: -2px;
//         display: block;
//         float: right;
//         width: 20px;
//       }
//     }

//     .cardview {
//       @include box-shadow-jutsu (0, 1px, 4px, rgba(0, 0, 0, 0.4));
//       margin-bottom: 40px;
//       background: #FFFFFF;
//       border-radius: 4px;
//       //position: absolute;
//       padding: 40px;
//       width: 100%;
//     }

//     .server-message {
//       font-size: em(16px, 18px);
//       display: block;
//       float: right;

//       &.error {
//         color: red;
//       }

//       &.success {
//         color: green;
//       }
//     }

//     .saving {
//       margin: 0 auto;
//       width: 60px;
//     }
//   }

// }

/* ==========================================================================
   Header [`HEAD]
   ========================================================================== */
.logo {
  padding-top: 6px;
  float: left;
  width: 80px;
  margin: 0;

  a {
      background: url('../img/logo-v1.png') center center no-repeat;
      background-size: 100%;
      white-space: nowrap;
      text-indent: 500%;
      overflow: hidden;
      display: block;
      height: 50px;
      width: 40px;
  }
}

/* ==========================================================================
   Miscellaneous [`MISC]
   ========================================================================== */

.image-container {
    img {
        width: 100%;
    }
}

.hide {
  display: none !important;
}

select[disabled] {
  background: #ebebe4;
}

/* ==========================================================================
   Input [`INPUT]
   ========================================================================== */

/* ==========================================================================
   Chat [`CHAT]
   ========================================================================== */
.chat {
  .content-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    float: left;

    .chat-wrapper {
      padding: 0 15px;
    }

    .header {
      height: 60px;
      padding: 0 15px;
      overflow: hidden;
      border-bottom: 1px solid #c1c1c1;

      .btn-create {
        font-family: $lato-thin;
        background: none;
        font-size: 40px;
        cursor: pointer;
        outline: none;
        float: right;   
        border: none;

        &:hover {
          color: $theme-orange;
        }
      }

      a:hover {
        text-decoration: none;
      }
    }

    .sidebar,
    .info {
      position: relative;
      width: 25%;
      float: left;
      height: 100%;
    }

    .sidebar {
      border-right: 1px solid #c1c1c1;

      #sidebar-content::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        //background-color: #F5F5F5;
      }

      #sidebar-content::-webkit-scrollbar {
        background-color: #F5F5F5;
        width: 0px;
      }

      #sidebar-content:hover::-webkit-scrollbar {
        width: 6px;
      }

      #sidebar-content::-webkit-scrollbar-thumb {
        background-color: #a1a1a1;
      }

      .sidebar-content {
        height: calc(100% - 60px);
        overflow-y: scroll;
      }

      button.open-room {
        border: 1px solid #e2e2e2;
        background: #FFFFFF;
        border-radius: 2px;
        text-align: left;
        cursor: pointer;
        margin: 2px 0;
        outline: none;
        padding: 4px;
        width: 100%;

        &.active,
        &:hover {
          background: #E2E2E2;
        }

        img {
          margin-right: 20px;
          float: left;
          width: 50px;
        }
      }

      .button-group {
        padding: 0 15px;
        margin: 20px 0;
        float: left;
        width: 100%;

        button {
          background-color: #FFFFFF; 
          border: 1px solid #E0E0E0; 
          color: #525252; 
          padding: 10px 24px; 
          cursor: pointer; 
          float: left; 
          width: 33.3%;

          &:not(:last-child) {
            border-right: none; /* Prevent double borders */
          }

          &::after {
            content: "";
            clear: both;
            display: table;
          }

          &:hover,
          &.active {
            background-color: #6f6f6f;
            color: #FFFFFF; 
          }
        }
      }
    }

    .info {
      border-left: 1px solid #c1c1c1;
    }

    .message-wrapper {
      position: relative;
      width: 50%;
      float: left;
      height: 100%;

      #message-view::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }

      #message-view::-webkit-scrollbar {
        background-color: #F5F5F5;
        width: 0px;
      }

      #message-view:hover::-webkit-scrollbar {
        width: 6px;
      }

      #message-view::-webkit-scrollbar-thumb {
        background-color: #a1a1a1;
      }

      .message-view {
        height: calc(100% - 120px);
        padding: 0 10px 30px 10px;
        overflow-y: scroll;
        position: fixed;
        width: 50%;
      }

      .input-wrapper {
        border-top: 1px solid #e8e8e8;
        position: absolute;
        padding: 10px;
        max-height: 120px;
        min-height: 60px;
        width: 100%;
        bottom: 0;

        .message-box {
          outline: none;
          resize: none;
          border: none;
          min-height: 40px;
          max-height: 120px;
          padding-top: 12px;
          scroll: none;
          height: 40px;
          width: 70%;
        }

        a.send {
          font-size: 34px;
          float: right;
          margin-top: 6px;
        }
      }
    }

    .search-wrapper {
      padding: 20px 15px 0 ;

      input[type="search"] {
        border: 1px solid #e2e2e2;
        text-indent: 20px;
        height: 44px;
        width: 100%;
      }
    }
  }

  span.account-message,
  span.message {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    min-width: 32px;
    max-width: 80%;
    margin: 1px 0;

    a {
      color: #FFFFFF;
    }
  }

  span.account-message {
    border-radius: 1.3em 4px 4px 1.3em;
    background: #FF3D00;
    color: #FFFFFF;

    &.first {
      border-radius: 1.3em 1.3em 4px 1.3em;
      
    }

    &.last {
      border-radius: 1.3em 4px 1.3em 1.3em;
    }

    &.alone {
      border-radius: 1.3em;
    }
  }

  span.message {
    border-radius: 4px 1.3em 1.3em 4px;
    background: #c1c1c1;

    &.first {
      border-radius: 1.3em 1.3em 1.3em 4px;
    }

    &.last {
      border-radius: 1.3em 4px 1.3em 1.3em;
    }

    &.alone {
      border-radius: 1.3em;
    }
  }

  span.account-timestamp,
  span.account-user {
    font-size: 12px;
    color: #a2a2a2;
    display: block;
  }

  span.timestamp,
  span.user {
    font-size: 12px;
    color: #a2a2a2;
    display: block;
  }

  span.account-timestamp {
    margin-top: 6px;
  }

  span.timestamp {
    margin-top: 6px;
  }

  span.account-user {
    margin-bottom: 6px;
  }

  span.user {
    margin-bottom: 6px;
  }

  .typing-indicator-wrapper {
    position: absolute;
    padding: 10px;
    bottom: 60px;
    width: 100%;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
