<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="">
		<title>KLIQ | The Group Travel Experience </title>

		<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-social.css'%}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css'%}" />
		<script src="{% static 'js/modernizr.custom.js'%}"></script>
		<link href="{% static 'css/style.css'%}" rel="stylesheet">
{#        <script src='https://www.google.com/recaptcha/api.js'></script>#}
	</head>

	<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

		<div class="md-modal md-effect-1 register-modal" id="modal-1">
			<div class="md-content">
				<h3>Register</h3>
				<div>
					<form class="registration-form" id="registration-form">
						<div class="col-sm-12">

                            <div class="strike">
                                <span>
                                    Log In With Social Media
                                </span>
                            </div>

                            <div class="row social-media-login" style="padding-left: 15px; padding-right: 15px;">
                                <a class="btn-block btn-social btn-lg btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
                                    <i class="fa fa-google"></i>Sign in with Gmail
                                </a>
                            </div>

                            <div class="row social-media-login" style="padding-left: 15px; padding-right: 15px;">
                                <a class="btn-block btn-social btn-lg btn-facebook" href="{% url 'social:begin' 'facebook' %}">
                                    <i class="fa fa-facebook"></i>Sign in with Facebook
                                </a>
                            </div>

                            <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                <a class="btn-block btn-social btn-lg btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                                    <i class="fa fa-twitter"></i>Sign in with Twitter
                                </a>
                            </div>

                            <div class="strike">
                                <span>
                                    Or Register
                                </span>
                            </div>

							<div class="row">
								<div class="col-sm-6 form-group">
									<label>First Name</label>
{#									<input name="first_name" type="text" placeholder="Enter First Name Here." class="form-control req">#}
                                    {{ form.first_name }}
								</div>
								<div class="col-sm-6 form-group">
									<label>Last Name</label>
{#									<input name="last_name" type="text" placeholder="Enter Last Name Here." class="form-control req">#}
                                    {{ form.last_name }}
								</div>
							</div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Username<span style="padding-left: 10px;"></span></label>
{#                                    <input name="username" type="text" placeholder="Enter Username Here" class="form-control req">#}
                                    {{ form.username }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Email Address<span style="padding-left: 10px;"></span></label>
{#                                    <input name="email" type="text" placeholder="Enter Email Address Here" class="form-control req">#}
                                    {{ form.email }}
                                </div>
							</div>


                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Send Verification Email</label>
                                    <button class="send-verification-email-btn">Send Email Verification Code</button>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Verification Code<span style="padding-left: 10px;"></span></label>
                                    <input name="email_verification_code" type="text" placeholder="Enter Code from Email here" class="form-control req">
                                </div>
							</div>


							<div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Password<span style="padding-left: 10px;"></span><img class="pass-invalid" src="{% static 'images/invalid.png' %}" alt="invalid" height="15" width="15"></label>
{#                                    <input name="password" type="password" placeholder="Enter Password Here" class="form-control req">#}
                                    {{ form.password }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Confirm Password<span style="padding-left: 10px;"></span><img class="pass-invalid" src="{% static 'images/invalid.png' %}" alt="invalid" height="15" width="15"></label>
                                    <input name="confirmpassword" type="password" placeholder="Enter Password Here" class="form-control req">
                                </div>
							</div>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
{#                                    <div class="g-recaptcha" data-size="normal" data-sitekey="6Lc39iITAAAAAM50LppiWEpdmwHqsHgxk0o4-Lzq"></div>#}
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-lg btn-info pull-right register-btn">Register</button>
                                    <button class="md-close btn btn-close pull-right close-register-btn">Close</button>
                                </div>
                            </div>
						</div>
					</form>
				</div>
			</div>
		</div>

        <div class="md-modal md-effect-1" id="modal-2">
			<div class="md-content">
				<h3>KLIQ Log In</h3>
				<div>
					<form class="login-form" id="login-form">
						<div class="col-sm-12">

                            <div class="strike">
                                <span>
                                    With Social Media
                                </span>
                            </div>

                            <div class="row social-media-login" style="padding-left: 15px; padding-right: 15px;">
                                <a class="btn-block btn-social btn-lg btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
                                    <i class="fa fa-google"></i>Sign in with Gmail
                                </a>
                            </div>

                            <div class="row social-media-login" style="padding-left: 15px; padding-right: 15px;">
                                <a class="btn-block btn-social btn-lg btn-facebook" href="{% url 'social:begin' 'facebook' %}">
                                    <i class="fa fa-facebook"></i>Sign in with Facebook
                                </a>
                            </div>

                            <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                <a class="btn-block btn-social btn-lg btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                                    <i class="fa fa-twitter"></i>Sign in with Twitter
                                </a>
                            </div>

                            <div class="strike">
                                <span>
                                    With Registered Account
                                </span>
                            </div>

							<div class="form-group">
								<label>Username</label>
								<input name="username" type="text" placeholder="Enter Username Here" class="form-control">
							</div>

							<div class="row">
                                <div class="col-sm-12 form-group">
                                    <label>Password</label>
                                    <input name="password" type="password" placeholder="Enter Password Here" class="form-control">
                                </div>
							</div>
                            {% csrf_token %}
                            <div class="row">
                                <button type="button" class="btn btn-lg btn-info pull-right login-btn">Login</button>
                                <button class="md-close btn btn-close pull-right close-login-btn">Close</button>
                            </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Navigation -->
		<div id="wrapper">
			<nav class="navbar navbar-default">
				<div class="container">



					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
{#						<a class="navbar-brand page-scroll" href="/"><img src="{% static 'images/Xeemit.png'%}" alt="Xeemit logo"></a>#}
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li class="hidden">
								<a href="#page-top"></a>
							</li>
							<li>
								<a class="page-scroll" href="#about">About</a>
							</li>

                            {% if not user.is_authenticated %}
							<li>
								<a class="md-trigger" data-modal="modal-1" href="#signin">Register</a>
							</li>
                            {% endif %}

                            {% if user.is_authenticated %}
                            <li class="myAccount-btn" style="opacity:0;">
                                <a href="#myaccount">My Account</a>

							</li>
                            {% endif %}

	                        <li>
                                {% if user.is_authenticated %}
                                <a href="/logout">Sign Out</a>
                                {% else %}
                                <a class="md-trigger" data-modal="modal-2" href="#signin">Sign In</a>
                                {% endif %}
							</li>
						</ul>
	                    <ul class="nav navbar-nav">

						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>

			<p id="back-top">
				<a href="#top"><i class="fa fa-angle-up"></i></a>
			</p>

            <div class="push"></div>
		</div>

        <div class="md-overlay"></div><!-- the overlay element -->
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
		<script src="{% static 'js/bootstrap.min.js'%}"></script>
{#		<script src="{% static 'js/SmoothScroll.js'%}"></script>#}
{#		<script src="{% static 'js/theme-scripts.js'%}"></script> #}
		<script src="{% static 'js/classie.js'%}"></script>
		<script src="{% static 'js/modalEffects.js'%}"></script>
        <script src="{% static 'js/main.js'%}"></script>

        <script>
            $('.send-verification-email-btn').click(function(event){
                 event.preventDefault();
                 event.stopPropagation();
                 console.log("verification btn pressed");
                $.ajax({
                    type: "POST",
                    url: "/verification-code/",
                    data: {
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "email": $('[name="email"]').val(),
                    },
                    dataType: "text",
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(response) {
                        console.log('Error');
                        console.log(response);
                    }
                });
            });
        </script>

	</body>

</html>
