{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="{% static 'css/normalize.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>Chat Room</title>
    <script>
        var user_groups = {{groups_joined|safe}};
        var username = "{{request.user|safe}}";
        var useremail = "{{request.user.email|safe}}";
    </script>

    <style>
        .{{request.user|safe}} {
            text-align: right;
        }
    </style>
</head>
<body class="chat">
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/> -->

    <div class="content-wrapper">
        <section class="sidebar">
            <div class="header">
                <h1 class="logo">
                    <a href="/">Kliq</a>
                </h1>
                <button type="button" class="btn-create create-room">+</button>
            </div>

            <div class="sidebar-content" id="sidebar-content">
                <div class="button-group">
                  <button type="button" style="border-top-left-radius: 2px; border-bottom-left-radius: 2px;">Friends</button>
                  <button type="button" class="active">Open Chats</button>
                  <button type="button" style="border-top-right-radius: 2px; border-bottom-right-radius: 2px;">Closed Chats</button>
                </div>

                <div class="search-wrapper" style="margin-bottom: 20px;">
                    <input type="search" class="search" placeholder="Search user or chat" disabled="" />
                </div>

                <div class="chat-wrapper">
                    <!-- <button class="invite-by-email">Send Invite</button>
                    <button class="user-chat-history">Allow User to view Full Chat History</button>
                    <button class="create-room">Make Room</button> -->
                </div>
            </div>
        </section>
        <section class="message-wrapper">

            <div class="header">
                <input name="email" type="text" class="email-invite" placeholder="Email of user to invite" />
                <button class="invite-by-email">Send Invite</button>
                <button class="user-chat-history">Enable History</button>
                <input class="rename-group-input" placeholder="Enter Group Name..."/><button class="rename-group-btn">Rename Group</button>
            </div>
            
            <div class="message-view" id="message-view"></div>

            <div class="typing-indicator-wrapper" style="display: none">
                <span><span class="users-typing"></span> is typing</span>
                <span class="image-container" style="display: inline-block; width: 20px;">
                    <img src="{% static 'img/typing.gif'%}" />
                </span>
            </div>
            <div class="input-wrapper">
                <input class="message-box" placeholder="Type a message..."/>
                <a href="#" class="icon-alone send">
                    <span aria-hidden="true" class="icon-send"></span>
                    <span class="screen-reader-text">Send</span>
                </a>
            </div>
        </section>
        <section class="info">
            <div class="header"></div>
            <div class="invitees-view"></div>
        </section>
    </div>
</body>

<script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
<script>
    $('.message > .header').html(useremail);

    var _ws_ = 'ws://';
    if (location.protocol == 'https:')
    { _ws_ = 'wss://' }

    var chatSocketArray = {};
    var selectedRoom = '';


    document.querySelector('.message-box').focus();
    document.querySelector('.message-box').onkeydown = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('.send').click();
        }
        else if ($('.message-box').val().length==1 || e.keyCode === 32){
            chatSocketArray[selectedRoom].send(JSON.stringify({
                'message': '--typing--'
            }));
        }
    };

    document.querySelector('.send').onclick = function(e) {
        let messageInputDom = document.querySelector('.message-box');
        let message = messageInputDom.value;
        chatSocketArray[selectedRoom].send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };

    interval_reconnect = {};

    function show_user_status(i_username, status){
        let username_status_selector = '.'+i_username+'_status';
        if (status==="Typing" && i_username != username){
            let user_typing_class = i_username+"_typing";
            if ( $( '.'+user_typing_class ).length == 0) {
                console.log("typing class exists already");
                $('.users-typing').append("<span class="+user_typing_class+">"+i_username+"</span>");
                $('.typing-indicator-wrapper').show();
                setTimeout(function() {
                  $('.'+user_typing_class).remove();
                  $('.typing-indicator-wrapper').hide();
                }, 4000);
            }
        }
        else {
             $(username_status_selector).html(' - '+status);
        }
    }


    function connect(roomID) {
        chatSocketArray[roomID] = (new WebSocket( _ws_ + window.location.host + '/ws/chat/' + roomID + '/'));
        chatSocketArray[roomID].addEventListener("onmessage", onmessage);
        chatSocketArray[roomID].addEventListener("onclose", onclose);

        chatSocketArray[roomID].onmessage = function(e) {
            let data = JSON.parse(e.data);
            console.log(data);
            let message = JSON.parse(data['message']);

            //if msg in message
            if ('msg' in message){
                let parsed_message = message['msg'];
                console.log(parsed_message);
                display_messages([parsed_message]);
            }
            else if ('user_event' in message){
                let parsed_message = message['user_event'];
                console.log(parsed_message);
                show_user_status(parsed_message["username"],parsed_message["activity"]);
                //find div[username=] of user and append a span that theyre online
            }
            // IF ROOM IS ACTIVE ROOM PUT MSG IN MESSAGE-VIEW ELSE PUT NOTIFICATION (AND A # NEXT TO GROUP)
        };

        chatSocketArray[roomID].onclose = function(e) {
            console.log('Socket closed. Reconnecting in 10 seconds.', e.reason);
            interval_reconnect[roomID] = setInterval(connect(roomID), 10000);
        };

        chatSocketArray[roomID].onopen = function(e) {
            try{
               clearInterval(interval_reconnect[roomID]);
            }
            catch(err) {
                console.log(err);
            }
        }
    }


    $.each(user_groups, function(key,val){
        let $img = $("<img src='/static/img/avatar/" + getRandomInt(8) + ".png' class='avatar' title='Group Display Image'/>");
        let $name = $(`<span class="group-name">${val}</span>`);
        let $btn = $(`<button class="open-room" room-name="${val}" id="${key}" value="${key}"></button>`);

        $btn.append($img, $name);
        $btn.appendTo($(".chat-wrapper"));
        //CREATE SOCKETS FOR THESE ROOMS TO GET NOTIFICATIONS WHEN MSGS COME IN ON THESE ROOMS
        connect(key);
    });

    function display_messages(js_msg_array){
        console.log("from d_m : ");
        console.log(js_msg_array);
        let user = "", timestamp = "", acc_msg_count = 0, msg_count = 0;
        $.each(js_msg_array, function (index, msg_json) {
            let message = urlify(msg_json["message"]);

            if (username == msg_json["username"]) {
                let $msgdiv;

                if (user === msg_json["username"]) {
                    //console.log(acc_msg_count);
                    $msgdiv = $('<div style="text-align:right">'+
                                '<span class="account-message index_' + acc_msg_count + '">' + message + '</span>' +
                                '</div>');

                    timestamp = '<span class="account-timestamp">' + msg_json["dt_created"] + '</span>';
                } else {
                    acc_msg_count = 0;
                    $msgdiv = $('<div style="text-align:right">'+
                                '<span class="account-user">' + msg_json["username"] + '</span>' +
                                '<span class="account-message first index_0">' + message + '</span>' +
                                '</div>');

                    {#if (timestamp !== "") {#}
                    {#    timestamp = '<div style="text-align:left">' + timestamp + '</div>';#}
                    {#    $('.message-view').append(timestamp);#}
                    {##}
                    {#timestamp = '<span class="account-timestamp">' + msg_json["dt_created"] + '</span>';#}
                    user = msg_json["username"];
                }

                $msgdiv.appendTo($(".message-view"));
                acc_msg_count++;
            }
            else {
                //let $msgdiv = $('<div style="text-align:left">'+msg_json["username"]+' '+msg_json["message"]+' '+msg_json["dt_created"]+'<br/></div>');
                let $msgdiv;

                if (user === msg_json["username"]) {
                    //let message = urlify(msg_json["message"]);
                    $msgdiv = $('<div style="text-align:left">'+
                                '<span class="message">' + message + '</span>' +
                                '</div>');

                    timestamp = '<span class="timestamp">' + msg_json["dt_created"] + '</span>';
                } else {
                    $msgdiv = $('<div style="text-align:left">'+
                                '<span class="user">' + msg_json["username"] + '</span>' +
                                '<span class="message first">' + message + '</span>' +
                                '</div>');
                    user = msg_json["username"];
                }

                {#if (timestamp !== "") {#}
                {#    timestamp = '<div style="text-align:right">' + timestamp + '</div>';#}
                {#    $('.message-view').append(timestamp);#}
                {##}
                {#timestamp = msg_json["dt_created"];#}
                $msgdiv.appendTo($(".message-view"));
            }
        });
    }

    function urlify(text) {
        let urlRegex = /(https?:\/\/[^\s]+)/g;
        // return text.replace(urlRegex, function(url) {
        //     return '<a href="' + url + '">' + url + '</a>';
        // })
        // or alternatively
        return text.replace(urlRegex, '<a href="$1" target="_blank">$1</a>')
    }


    function display_invitees(js_invitees){
        $.each(js_invitees, function(index,invitee_json){
            let $inviteesdiv;
            let i_username = invitee_json["invitee__username"];
            $inviteesdiv = $('<div class="invitee" username="'+i_username+'"><span>'+i_username+' - </span><span>'+invitee_json["invitee__email"]+'</span><span class="'+i_username+'_status"> - Offline</span></div>');

            $inviteesdiv.appendTo($(".invitees-view"));

        });
    }


    function get_room_users(){
        $('.invitees-view').empty();
        $.ajax({
            url: '/chat/group/'+selectedRoom+'/invitees/',
            success: function(data){
                console.log(JSON.parse(data));
                display_invitees(JSON.parse(data));
            },
        });
    }


    function open_room_click(){
        selectedRoom = location.hash.replace('#/', '');

        $('.message-view').empty();
        $('.message > .header').html($(this).attr('room-name'));

        $.ajax({
            url: '/chat/group/'+selectedRoom+'/msgs/',
            success: function(data){
                console.log(data);
                display_messages(JSON.parse(data));
                get_room_users();

                $.ajax({
                    url: '/chat/group/'+selectedRoom+'/invitees/statuses',
                    success: function(data){
                        var i_statuses = JSON.parse(data);
                        $.each(i_statuses, function(username,status){
                            show_user_status(username, status);
                        });

                        $('.message-view').scrollTop();
                    },
                });
            },
        });
    }

    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }

    $('.open-room').click(function() {
        $('.open-room').removeClass('active');
        $(this).addClass('active');
        selectedRoom = $(this).val();

        //CLEAR MESSAGE AREA AND LOAD CHAT HISTORY (Partial and not full?)
        $('.message-view').empty();
        $('.message > .header').html($(this).attr('room-name'));
        location.hash = '#/' + selectedRoom;

        $.ajax({
            url: '/chat/group/'+selectedRoom+'/msgs/',
            success: function(data){
                console.log(data);
                display_messages(JSON.parse(data));
                get_room_users();

                $.ajax({
                    url: '/chat/group/'+selectedRoom+'/invitees/statuses',
                    success: function(data){
                        var i_statuses = JSON.parse(data);
                        $.each(i_statuses, function(username,status){
                            show_user_status(username, status);
                        });

                        $('.message-view').scrollTop();
                    },
                });
            },
        });
    });

    open_room_click();
    //----------------------------------------------------------------------------

    $('.invite-by-email').click(function(){
        console.log("Invite by Email");
        $.ajax({
            type: "POST",
            url: "/chat/email-invite/",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "email": $('[name="email"]').val(),
                "group": selectedRoom,
            },
            dataType: "text",
            success: function(response) {
                console.log(response);
            },
            error: function(response) {
                console.log('Error');
                console.log(response);
            }
        });
    });

    $('.user-chat-history').click(function(){
        console.log("Chat History");
        $.ajax({
            type: "POST",
            url: "/chat/chat-history/",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "email": $('[name="email"]').val(),
                "group": selectedRoom,
                "allow": true,
            },
            dataType: "text",
            success: function(response) {
                console.log(response);
            },
            error: function(response) {
                console.log('Error');
                console.log(response);
            }
        });
    });


    $('.create-room').click(function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/chat/create-group/",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            },
            dataType: "text",
            success: function(groupID) {
                console.log(groupID);
                connect(groupID);
                // ADD HTML ON SIDEBAR TO SHOW ROOM AND THAT YOU'RE JOINED TO IT
                let $img = $("<img src='/static/img/avatar/" + getRandomInt(8) + ".png' class='avatar' title='Group Display Image'/>");
                let $name = $(`<span class="group-name">${groupID}</span>`);
                let $btn = $(`<button class="open-room" room-name="${groupID}" id="${groupID}" value="${groupID}"></button>`);
                
                $btn.append($img, $name);
                $btn.appendTo($(".chat-wrapper"));

                //add event listener to .open-room click
                open_room_click();

                // AUTO CLICK THAT ROOM TO JOIN IT (DOING SO WILL CLEAR MESSAGE AREA)

            },
            error: function(data) {
                console.log('Error');
                console.log(data);
            }
        });
    });


    $('.rename-group-btn').click(function(){
        $.ajax({
            type: "POST",
            url: "/chat/group/"+selectedRoom+"/info/",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "group_name": $('.rename-group-input').val(),
            },
            dataType: "text",
            success: function(response) {
                console.log(response);
            },
            error: function(response) {
                console.log('Error');
                console.log(response);
            }
        });
    });
</script>
</html>
