/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.md-modal {
	max-height: 650px;
    overflow-y: visible;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(175, 175, 175, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #000;
	//background: #fcf7e8;
	background: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
	padding: 10px;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 10px 0px 35px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 10px;
}

.md-content > div ul {
	margin: 0;
	padding: 5px 30px 20px;
}

.md-content > div .registration-form {
	margin: 0;
	padding: 5px 30px 610px;
}

.md-content > div .pp-registration-form {
	margin: 0;
	padding: 5px 30px 10px;
}


.md-content > div .login-form {
	margin: 0;
	padding: 5px 30px 430px;
}

.md-content > div .send-money-form {
	margin: 0;
	padding: 5px 30px 730px;
}

.md-content > div .delivery-form {
	margin: 0;
	padding: 5px 30px 130px;
}

.md-content > div .chat-form {
	margin: 0;
	padding: 5px 30px 650px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.send-money-form > div ul {
    margin: 0;
    padding: 0px;
}

.chat-form > div ul {
    margin: 0;
    padding: 0px;
}

.send-money-form > div ul li {
    padding: 0px;
}

.chat-form > div ul li {
    padding: 0px;
}

/*@font-face {*/
    /*font-family: 'Montserrat';*/
    /*src: url("fonts/Montserrat-Regular.07689d4eaaa3.ttf");*/
/*}*/
.context-menu-one > td {
	font-family: "Arial";
}